<h1>Nova Atividade</h1>
<form action="/atividades/create" method="POST">
  <% if @atividade and not @atividade.valid? %>
    <ul>
    <% @atividade.errors.full_messages.uniq.each do |msg| %>
      <li><strong><%= msg %></strong></li>
      <% end %>
    </ul>
  <% end %>
  <label for="projeto">Projeto:</label>
  <%= select_tag "projeto", options_from_collection_for_select(Projeto.all, :id, :nome) %>
  <br />
  <label for="descricao">Descrição:</label>
  <textarea id="descricao" name="atividade[descricao]" size="100" ></textarea>
  <br />
  <h2>Equipe</h2>
  <%= select_tag "programador_1", programadores_option((p=Programador.all.first) ? p.id : nil) %>
  <input type="text" name="atividade[horas_1]" />
  <br />
  <%= select_tag "programador_2", programadores_option((p=Programador.all.second) ? p.id : nil) %>
  <input type="text" name="atividade[horas_2]" />
  <br />
   <input type="submit" value="Salvar" />
</form>
