<div id="head">
<div class="fix_width">
<div id="menu">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/clientes">Clientes</a></li>
<li><a href="/s">Invent.tos</a></li>
<li><a href="/res">Invent.tores</a></li>
<li><a href="/sobre">Sobre</a></li>
<li><a href="/contato">Contato</a></li>
</ul>
</div>
<div id="logo">
<a>invent</a>.to
</div>
</div>
</div>
<div id="body" class="fix_width">
<div class="container">
  <%= raw(markdownify(params[:content] || "sobre")) %>
</div>
<div class="extended">
<div class="fix_width">
<div class="left_info">
<a>DESENVOLVEMOS</a>
O SEU INVENTO
</div>
<div class="right_info">
<a>SOLICITE</a>
AGORA MESMO
</div>
</div>
</div>
<i style="margin: 140px"></i>
<div class="side">
<div class="title">Quem somos nós</div>
</div>
<div class="side">
<div class="title">O que fazemos</div>
</div>
<div class="side">
<div class="title">O que não fazemos</div>
</div>
<i></i>
</div>
<div class="container">
<div class="fix_width">
<div class="side">
<div class="title">Projetos</div>
</div>
<div class="side">
<div class="title">Agenda</div>
</div>
<div class="side">
<div class="title">Contato</div>
</div>
<i></i>
</div>
<div class="extended">
<div class="fix_width">
footer
</div>
</div>
</div>
