/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: normal;
  src: local('Anton'), url('http://themes.googleusercontent.com/static/fonts/anton/v3/tilmJBBU81h1G7ZsdY3Hmw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
*{
font: 13px "Open Sans", Helvetica, Verdana, Arial;
color:white;
}
body {
background-color: #aaa;
margin:0 0 100px;
}
#head {
box-shadow: 0 0 10px black;
-moz-box-shadow: 0 0 10px black;
-webkit-box-shadow: 0 0 10px black;
background-color:#000;
height:85px;
border-bottom: 2px solid white;
}
.fix_width {
margin:0 auto;
max-width:940px
}
#copyright {
  float: left;
  margin-top: 8px;
}
.extended .menu {
  margin-top: -4px;
}
.inventto {
float: left;
position: left;
color:#13c339;
font:51px "Anton", Verdana, Arial;
padding:5px 0;
width: 200px;
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
transform: rotate(0deg) scale(1.0) skew(0deg) translate(5px);
-webkit-transform: rotate(0deg) scale(1.0) skew(0deg) translate(5px);
-moz-transform: rotate(0deg) scale(1.0) skew(0deg) translate(5px);
-o-transform: rotate(0deg) scale(1.0) skew(0deg) translate(5px);
-transform: rotate(0deg) scale(1.0) skew(0deg) translate(5px);
}
.inventto a {
font:51px "Anton", Verdana, Arial;
text-decoration: none;
}
.inventto:hover{
text-decoration: underline;
transform: rotate(10deg) scale(1.1) skew(0deg) translate(5px);
-webkit-transform: rotate(10deg) scale(1.1) skew(0deg) translate(5px);
-moz-transform: rotate(10deg) scale(1.1) skew(0deg) translate(5px);
-o-transform: rotate(10deg) scale(1.1) skew(0deg) translate(5px);
-ms-transform: rotate(5deg) scale(1.1) skew(0deg) translate(5px);
}
#body {
margin: 20px auto;
background-color: #fff;
padding: 20px;
}
section#body {
background-color: white;
padding: 10px 20px;
}
section#body *,
section#body p {
color: black;
}
.container {
background: #555;
padding: 20px;
border-top: 2px solid white;
border-bottom: 2px solid white;
box-shadow: 0 0 10px black;
-moz-box-shadow: 0 0 10px black;
-webkit-box-shadow: 0 0 10px black;
}
#body .container {
background: #f8f8f8 url(images/diagonal.png) top right no-repeat;
border: none;
box-shadow: 0 0 10px #f8f8f8;
-moz-box-shadow: 0 0 10px #f8f8f8;
-webkit-box-shadow: 0 0 10px #f8f8f8;
}
#body_content_title {
color: #13C339;
font:24px "Anton", Verdana, Arial;
text-transform: uppercase;
margin: 0;
}
.extended {
box-shadow: 0 0 10px black;
-moz-box-shadow: 0 0 10px black;
-webkit-box-shadow: 0 0 10px black;
display:block;
margin:20px 0;
position:absolute;
left: 0;
right: 0;
background-color:black;
clear:both;
border-top: 2px solid #13c339;
border-bottom: 2px solid #13c339;
}
.extended .fix_width {
max-width:900px
}
.right_info {
font:15px "Anton", Verdana, Arial;
padding:20px 20px 30px;
float:right;
background-color: #4f4e4e;
margin-right: -20px;
transition:All 0.5s ease;
-webkit-transition:All 0.5s ease;
-moz-transition:All 0.5s ease;
-o-transition:All 0.5s ease;
transform: rotate(360deg) scale(1) skew(1deg) translate(-2px);
-webkit-transform: rotate(360deg) scale(1) skew(1deg) translate(-2px);
-moz-transform: rotate(360deg) scale(1) skew(1deg) translate(-2px);
-o-transform: rotate(360deg) scale(1) skew(1deg) translate(-2px);
-ms-transform: rotate(360deg) scale(1) skew(1deg) translate(-2px);
}
.right_info:hover {
transform: rotate(350deg) scale(1.809) skew(1deg) translate(2px);
-webkit-transform: rotate(350deg) scale(1.809) skew(1deg) translate(2px);
-moz-transform: rotate(350deg) scale(1.809) skew(1deg) translate(2px);
-o-transform: rotate(350deg) scale(1.809) skew(1deg) translate(2px);
-ms-transform: rotate(350deg) scale(1.809) skew(1deg) translate(2px);
}
.left_info {
text-transform: uppercase;
font:44px "Anton", Verdana, Arial;
padding:20px;
float:left;
margin: -20px 20px -20px -20px;
height:100%;
}
.left_info a,
.right_info a {
text-transform: uppercase;
font:44px "Anton", Verdana, Arial;
color:#13c339;
display:block
}
.side {
width:270px;
float:left;
padding: 0 20px;
}
.title {
text-transform: uppercase;
font:30px "Anton", Verdana, Arial;
color:#13c339;
border-bottom: 1px solid white;
}
.side span {
  color: #00FF00;
}
.side a {
  color: #00FF00;
  text-decoration: none;
}
.side span a:hover{
  text-decoration: underline;
}
.container .title {
color:white;
}
#footer {
}
i {
display:block;
clear:both
}
.container .extended {
border:none;
}
.projeto{
  margin-top: 5px;
  color: #0AC828;
  font-size: 13px;
  font-weight: bold;
  text-indent: 5px;
  cursor: pointer;
}
.descricao{
  text-align: justify;
}
.login{
  position: absolute;
  right: 0;
  font-size: 13px;
}
.login_img{
  margin-left: 5px;
  margin-right: 5px;
  width: 24px;
  position: right;
}
.descricao_logo{
  float: right;
  position: absolute;
  font: normal normal normal 13px/1.3em Helvetica, Arial, sans-serif;
  Vertical-align: baseline;
  margin-top:40px;
  text-transform: uppercase;
}
.ui-accordion .ui-accordion-header{ /* Cabeçalho: onde exibe o nome do projeto */
  background: transparent;
}
.ui-accordion .ui-accordion-content-active { /* onde exibe a descrição do projeto */
  color: white;
  padding: 0 10px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { /* quando está selecionado */
  border: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {/*quando passa o mouse*/
  border: none;
  color: rgb(51,255,0);
  outline: 0;
}
.ui-widget-content, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
}
.ui-state-active .ui-icon, .ui-state-default .ui-icon {
  background-image: url(ui-icons_ffffff_256x240.png);
}
.social{
  margin-right: 5px;
}
.messages {
  display: block;
  position: absolute;
  width: 100%
}
.messages .error-message,
.messages .info-message,
.messages .warning-message,
.messages .notice-message{
  margin: 0 auto 10px;
  text-align: center;
  font-weight: bold;
  display: block;
  width: 400px;
  padding: 5px;
  border: 3px dashed white;
  font-size: 16px;
}
.messages .error-message{
  background: url(error.ico) no-repeat 40px #FF8585;
}
.messages .info-message{
  background: url(info.ico) no-repeat 40px lightblue;
}
.messages .warning-message{
  background: url(warning.ico) no-repeat 40px orange;
}
.messages .notice-message{
  background: url(notice.ico) no-repeat 40px darkgreen;
}
.sf-menu { position: relative; margin: 0; padding: 0; list-style: none;clear:both; float: left; margin-top: 12px; padding-left: 9px; margin-bottom:	1em; /*background: url('/assets/menu_bg.png') no-repeat;*/ width: 957px; z-index: 400; }
.sf-menu a { display: block; position: relative; text-decoration:none; color: #fff; padding: 1px 12px 0px 12px; height: 15px; text-decoration: none; text-shadow: 1px 1px 1px #000; font-weight: normal; float :left; }
.sf-menu li { float: left; position: relative; font-family: Arial, Helvetica, sans-serif; /*background: url('/assets/menu_line.png') no-repeat;*/ background-position: right 5px; }
.sf-menu li ul li ul { left: 212px; margin-top: 0px;}
.sf-menu li a:hover { color: #78ff00; }
ul.sf-menu li.backLava { position: absolute; z-index: 3; background: url('/assets/lavalamp.png') no-repeat; background-position: center 0px; padding: 0; height: 16px; margin-top: 15px; }
.menu {float: right; width: 500px; margin-top: 46px;}
