 <div class="menu">
      <ul class="sf-menu">
        <li><div><a href="/">Home</a></div></li>
        <li><div><a href="/nossos_clientes">Clientes</a></div></li>
        <li><div><a href="/s">Invent.tos</a></div></li>
        <li><div><a href="/res">Invent.tores</a></div></li>
        <li><div><a href="/sobre">Sobre</a></div></li>
        <li><div><a href="/depoimentos">Depoimentos</a></div></li>
        <li><div><a href="/contato">Contato</a></div></li>
      </ul>
    </div>

