 <div class="menu">
      <ul class="sf-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/nossos_clientes">Clientes</a></li>
        <li><a href="/s">Invent.tos</a></li>
        <li><a href="/res">Invent.tores</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/depoimentos">Depoimentos</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>

